
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */